{% extends 'movie_app/base.html' %}

{% block title %}Информацию о фильме {{ movie.name }} {% endblock %}

{% block content %}
	<h2>Информацию о фильме {{ movie.name }}</h2>
    <h3>Рейтинг - {{ movie.rating }}</h3>
    <h3>Бюджет - {{ movie.budget }}</h3>
    <h3>Год - {{ movie.year }}</h3>
    <hr>
    <h3>Информацию о режиссере {{ movie.name }}</h3>
    <h3>Имя - {{ movie.director.first_name }}</h3>
    <h3>Фамилия - {{ movie.director.last_name }}</h3>
    <h3>Почта - {{ movie.director.director_email }}</h3>
    <hr>
    <h3>Список актеров</h3>
    <ul>
        {% for i in movie.actors.all %}
        <li>
            {{ i }}
        </li>
        {% endfor %}
    </ul>
{% endblock %}
